@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --color-light: #f4f0ea;
  --color-green: #798252;
  --color-light-green: #ccd595;
  --color-brown: #331f19;
  --color-light-brown: #cbbba7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-light);
  color: var(--color-green);
  font-family: "Cabin", sans-serif;
  font-weight: 400;
}

header {
  padding: 2rem;
  background-color: var(--color-brown);
  text-align: center;
}

main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h2 {
  color: var(--color-brown);
  font-size: 1.2rem;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: var(--color-light-green);
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"] {
  width: 100%;
  padding: 0.6rem;
  border: 2px solid var(--color-light-green);
  outline: none;
  border-radius: 5px;
  background-color: transparent;
}

input::placeholder {
  color: var(--color-light-brown);
}

select {
  cursor: pointer;
  background-color: var(--color-light-green);
  color: var(--color-brown);
  border: none;
  border-radius: 5px;
  outline: none;
}

img {
  width: 5rem;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: var(--color-light-green);
  color: var(--color-brown);
  padding: 1rem;
}

td {
  color: var(--color-brown);
  text-align: center;
}

details {
  background-color: var(--color-light-green);
  border-radius: 5px;
  padding: 1rem;
}

summary {
  color: var(--color-brown);
  margin: 0.5rem;
  cursor: pointer;
}

ol {
  margin-left: 1rem;
}

ol li {
  padding: 0.5rem;
}

fieldset {
  border: 2px solid var(--color-light-green);
  border-radius: 5px;
  padding: 1rem;
}

legend {
  color: var(--color-brown);
  padding: 0 0.5rem;
}

textarea {
  outline: none;
  border-radius: 5px;
  border: 2px solid var(--color-light-green);
  background-color: transparent;
}

button {
  background-color: var(--color-light-green);
  color: var(--color-brown);
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
}
footer {
  background-color: var(--color-brown);
  text-align: center;
  padding: 2rem;
}
.paragrafo-footer {
  color: var(--color-light);
}

footer a {
  text-decoration: none;
  color: var(--color-light-green);
}
